@use "@/styles/colors";

.list-item-row {
  align-items: center;
  display: flex;
  font-size: 18px;
  gap: 12px;
  min-height: 40px;
  padding: 9px 15px;

  &--selected,
  &:hover {
    background-color: colors.$primary;
    color: colors.$white;
    transition: background 0.3s ease, color 0.3s ease;
  }
}
