.info-block {
  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 13px;
    text-align: center;
  }

  &__description {
    line-height: 26px;
    text-align: center;
  }
}
