@use "@/styles/colors";

.modal-add {
  animation: fadeIn 0.25s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0px;
  opacity: 1;
  position: fixed;
  top: 0px;
  width: 100vw;

  &__content {
    animation: fadeInScale 0.35s ease-out;
    background-color: colors.$white;
    border-radius: 20px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
    height: 276px;
    margin-top: 50px;
    opacity: 1;
    padding: 50px;
    width: 700px;
  }

  &__text {
    color: colors.$text-dark;
    font-size: 18px;
    font-weight: normal;
  }

  &__input {
    background-color: colors.$gray-light;
    border: 1px solid colors.$gray-border;
    font-size: 18px;
    margin: 20px 0px 25px;
    padding: 19px 21px;
    transition: border-color 0.3s ease;
    width: 100%;

    &:focus {
      border-color: colors.$primary;
      outline: none;
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
