@use "@/styles/colors";

.app {
  align-items: center;
  background: colors.$gradient-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;

  &__container {
    background-color: colors.$white;
    border-radius: 20px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 577px;
    padding: 50px;
    width: 900px;
  }
}
